---
import LayoutDash from "../../../../components/layouts/LayoutDash.astro";
import db from "../../../../db";
import { clientes } from "../../../../db/schema/clientes";
import { eq } from "drizzle-orm";
import MainDashboard from "../../../../components/atomos/MainDashboard.astro";
import Card from "../../../../components/organismos/Card.astro";
import Texto from "../../../../components/atomos/Texto";
import FormularioCliente from "../components/FormularioCliente";

const { clienteId } = Astro.params;

// Obtener datos del cliente
const cliente = (
  await db.select().from(clientes).where(eq(clientes.id, clienteId || ""))
).at(0);

if (!cliente) {
  return Astro.redirect("/dashboard/clientes");
}
---

<LayoutDash title={`Editar Cliente - ${cliente.nombre}`}>
  <MainDashboard h1="Edicion de datos del cliente">
    <Card styleDiv="w-full">
      <Texto as="h2" variant="h2">Datos del cliente</Texto>
      <div
        class="bg-primary-bg-componentes p-2 rounded-lg shadow-md w-full flex flex-col items-center justify-center py-5"
      >
        <FormularioCliente 
          modo="editar" 
          client:load 
          cliente={cliente as any} 
          userId={Astro.locals.user?.id || ""}
          empresaId={Astro.locals.user?.empresaId || ""}
        />
      </div>
    </Card>
  </MainDashboard>
</LayoutDash>
