---
import ProStockApp from '../atomos/ProStockApp.astro';

const currentYear = new Date().getFullYear();
---

<footer class="bg-white py-12 border-t border-gray-100">
  <div class="container mx-auto px-6 md:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-8">
      <div class="space-y-4">
        <ProStockApp />
        <p class="text-primary-texto">
          Sistema inteligente de gestión de inventario y punto de venta para
          negocios.
        </p>
      </div>

      <div class="space-y-4">
        <h3 class="font-semibold text-primary-textoTitle mb-2">Producto</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="#features"
              class="text-primary-texto hover:text-primary-600"
              >Características</a
            >
          </li>
          <li>
            <a href="#precios" class="text-primary-texto hover:text-primary-600"
              >Precios</a
            >
          </li>
          <li>
            <a href="/demo" class="text-primary-texto hover:text-primary-600"
              >Solicitar Demo</a
            >
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="font-semibold text-primary-textoTitle mb-2">Recursos</h3>
        <ul class="space-y-2">
          <li>
            <a href="/guides" class="text-primary-texto hover:text-primary-600"
              >Guías</a
            >
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="font-semibold text-primary-textoTitle mb-2">Empresa</h3>
        <ul class="space-y-2">
          <li>
            <a href="/about" class="text-primary-texto hover:text-primary-600"
              >Sobre Nosotros</a
            >
          </li>
          <li>
            <a href="/contact" class="text-primary-texto hover:text-primary-600"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div
      class="pt-4 border-t border-gray-100 flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-primary-texto text-sm mb-4 md:mb-0">
        &copy; {currentYear} StockVista. Todos los derechos reservados.
      </p>
      <div class="flex space-x-6">
        <img src="./ramaCodeRecorte.png" alt="ramaCode" class="w- h-8" />
      </div>
    </div>
  </div>
</footer>
