---
import { Menu } from 'lucide-react';
import Button1 from '../atomos/Button1.astro';
import ProStockApp from '../atomos/ProStockApp.astro';
---

<nav
  class="bg-white py-2 px-6 md:px-8 shadow-sm fixed w-full top-0 left-0 z-40"
>
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <a href="/" class="flex items-center space-x-2">
          <ProStockApp />
        </a>
      </div>

      {/* Desktop Navigation */}
      <div class="hidden md:flex items-center gap-6 font-semibold">
        <a href="/" class="text-primary-textoTitle hover:text-primary-600"
          >Inicio</a
        >
        <a
          href="/#features"
          class="text-primary-textoTitle hover:text-primary-600"
          >Características</a
        >
        <a
          href="/#benefits"
          class="text-primary-textoTitle hover:text-primary-600">Beneficios</a
        >
        <!-- <a
          href="/contact"
          class="text-primary-textoTitle hover:text-primary-600">Contacto</a
        > -->
        <Button1 style="font-thin">
          {(<a href="/dashboard">Iniciar sesión</a>)}
        </Button1>
      </div>

      {/* Mobile Menu Button */}
      <button class="md:hidden" id="toggleMenu">
        <Menu className="h-6 w-6 text-primary-textoTitle" />
      </button>
    </div>

    {/* Mobile Navigation */}

    <div
      id="mobileMenu"
      class="hidden gap-6 flex py-8 flex-col w-full animate-apDeArriba"
    >
      <a href="/" class="text-primary-textoTitle hover:text-primary-600"
        >Inicio</a
      >
      <a
        href="/#features"
        class="text-primary-textoTitle hover:text-primary-600"
        >Características</a
      >
      <a
        href="/#benefits"
        class="text-primary-textoTitle hover:text-primary-600">Beneficios</a
      >
      <!-- <a
      href="/contact"
      class="text-primary-textoTitle hover:text-primary-600">Contacto</a
    > -->
      <div>
        <Button1 style="font-thin w-auto">
          {(<a href="/dashboard">Iniciar sesión</a>)}
        </Button1>
      </div>
    </div>
  </div>
</nav>

<script>
  const btnMobil = document.getElementById('toggleMenu');
  const menu = document.getElementById('mobileMenu');
  btnMobil.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>
