---
import { Heart, Star } from "lucide-react";
import ProductosTienda from "./ProductosTienda.jsx";
import SidebarProductos from "./SidebarProductos";




const { data } = Astro.props;
---

{/* Products */}
<section class="pt-2 relative w-full flex bg-primary-bg-componentes min-h-screen gap-2 ">
  <!-- menu -->
  <SidebarProductos client:load />

  <ProductosTienda client:load />
</section>

