---
import { Plus, Users } from "lucide-react";
import Card from "../../../../components/organismos/Card.astro";
import Texto from "../../../../components/atomos/Texto";
import TablaUsuarios from "./TablaUsuarios.astro";

const {user}=Astro.locals
---
<Card styleDiv="w-full">
    <div class="flex justify-between items-center gap-2 mb-4">
      <div class="flex items-center gap-2">
        <Users className="w-8 h-8 text-primary-100 " />
        <Texto as="h2" variant="h2">
          Usuarios
        </Texto>
      </div>

    </div>

    <TablaUsuarios userId={user?.id} />
  </Card>
