---
import { Plus, Users } from "lucide-react";
import DivBox1 from "../../../../components/atomos/DivBox1.astro";
import TablaUsuarios from "./TablaUsuarios.astro";

const {user}=Astro.locals
---
<DivBox1 styleDiv="w-full">
    <div class="flex justify-between items-center gap-2">
      <div class="flex items-center gap-2">
        <Users className="w-8 h-8 text-primary-100 " />
        <h2 class="text-xl font-semibold text-primary-textoTitle">
          Usuarios
        </h2>
      </div>

    </div>

    <TablaUsuarios userId={user?.id} />
  </DivBox1>
