---
import ConfeccionTablaUsers from './ConfeccionTablaUsers';

const { user } = Astro.locals;
---

<div class="overflow-x-auto w-full">
  <ConfeccionTablaUsers userId={user?.id} client:load />
</div>
