---
import ConfeccionTablaEgresoTop from "./ConfeccionTablaEgresoTop";

const { productosArray } = Astro.props;
  
const newArray=productosArray?.map((prod,i)=>{
    return {
      "N°":i+1,
      descripcion:prod?.producto?.descripcion,
      categoria:prod?.producto?.categoria,
      vendida:prod?.totalVendido,
      stock:prod?.producto?.stock,
    }
  })
---
<div class="flex flex-col items-start justify-start bg-primary-bg-componentes w-full p-2">

        <ConfeccionTablaEgresoTop arrayProduct={newArray} client:load/>
</div>