---
import DivBox1 from "../../../../components/atomos/DivBox1.astro";
import H2 from "../../../../components/atomos/H2.astro";
import FiltroProductos from "../../../../components/moleculas/FiltroProductos";
import ConfeccionListadoProductos from "./ConfeccionListadoProductos";
const { productosArray } = Astro.props;
---

<DivBox1 styleDiv="w-2/3">
  <div class="flex items-center justify-between gap-2">
    <H2>Productos</H2>
  </div>
  <FiltroProductos client:load />
  <div
    class="flex flex-col items-start justify-start gap-2 bg-primary-bg-componentes w-full p-2"
  >
    {productosArray?.length>=1?<ConfeccionListadoProductos productosArray={productosArray} client:load />
  :
  <span class="p-3">No hay productos cargados</span>  
  }
  </div>
</DivBox1>
