---
import type { LucideIcon } from "lucide-react";

interface PropsDataType {
  h2?: string | number;
  id: number;
  bgColor: string;
  icon: LucideIcon;
  title: string;
  tooltip?: string;
  value: string | number;
}

const { bgColor, icon: Icon, value } = Astro.props as PropsDataType;
---

<div
  class={`bg-gradient-to-br ${bgColor} rounded-lg md:p-4 p-3 md:h-28 w-[44vw] md:w-full text-white flex flex-col overflow-hidden group shadow-sm`}
>
  <div class="flex items-center justify-start gap-3 mb-1">
    <Icon
      className="w-6 h-6 md:w-7 md:h-7 group-hover:scale-110 duration-300 opacity-90"
    />
    <div class="text-xl md:text-3xl font-bold tracking-tight">
      {value}
    </div>
  </div>

  <p
    class="text-xs md:text-sm font-medium opacity-90 group-hover:scale-105 origin-left duration-300"
  >
    <slot />
  </p>
</div>
