---
import type { LucideIcon } from "lucide-react"
import type React from "react";
import ReactData from "./ReactData";


interface PropsDataType{ 
    h2: string | number;
    id:number,
    bgColor: string,
    icon: LucideIcon;
    title: string;
    tooltip?: string;
}


const {h2,bgColor,icon:Icon,id  }=Astro.props as PropsDataType

---

<div class={`bg-gradient-to-br ${bgColor} rounded-lg md:p-4 p-1 h-28 w-[44vw] md:w-full text-white flex flex-col overflow-hidden group`}>
    <div class="flex items-center justify-start gap-4">
        <Icon className="w-7 h-7 group-hover:scale-110  duration-300 "/>
        <ReactData idData={id} client:load />
    </div>
    
  <p class="group-hover:scale-105 mt-4 origin-left duration-300"><slot/></p>
</div>
