---
import MainDashboard from "../../../../components/atomos/MainDashboard.astro";
import DivBox1 from "../../../../components/atomos/DivBox1.astro";
import H2 from "../../../../components/atomos/H2.astro";
import ListradoProductos from "./ListradoProductos.astro";
import FormularioIngresoEgreso from "../../../../components/moleculas/FormularioIngresoEgreso";
import Modal from "../../../../components/moleculas/Modal.astro";
import FormularioCargaProducto from "../../productos/components/FormularioCargaProducto.astro";
import FormularioCompra from "./FormularioCompra";
import FormularioModificacionPrecios from "./FormularioModificacionPrecios";
import ContenedorStock from "./ContenedorStock.astro";
import ContenedorTablaTopEgreso from "./ContenedorTablaTopEgreso";
import ContenedorTablaMovimientos from "./ContenedorTablaMovimientos";

const user = { id: "1", nombre: "ramiro" };

// console.log('analisis de strock',analisisStock);
// console.log('productos bajo movimiento',productosBajoMovimiento);
---

<MainDashboard h1="Stock">
  <!-- menu -->
  <div
    slot={"menu"}
    class="flex items-center justify-end pb-2 gap-2 pr-6 w-full"
  >
    <Modal label="Crear" id="agregarProducto">
      <FormularioCargaProducto user={user} />
    </Modal>
    <Modal label="Comprar" id="compraProveedir">
      <FormularioCompra user={user} client:visible />
    </Modal>

    <Modal id="modalIngreso" label="Movimiento">
      <FormularioIngresoEgreso
        userId={user.id}
        client:visible
      />
    </Modal>

    <Modal label="Modificar Precios" id="modificarPrecios">
      <FormularioModificacionPrecios
        userId={user.id}
        client:visible
      />
    </Modal>
  </div>
<ContenedorStock/>

  <div class="flex w-full mt gap-2 items-start justify-start">
    <ListradoProductos   productosArray={[]}/>
    <DivBox1 styleDiv="w-1/3">
      <div class="w-full">
        <div class="flex items-center justify-between gap-2">
          <H2>Más Vendidos</H2>
        </div>
        <ContenedorTablaTopEgreso client:load label="topMasVendidos" />
      </div>
      <div class="w-full">
        <div class="flex items-center justify-between gap-2">
          <H2>Menos Vendidos</H2>
        </div>
        <ContenedorTablaTopEgreso label="topMenosVendidos" client:load />
      </div>

      <div class="w-full">
        <div class="flex items-center justify-between gap-2">
          <H2>Menos Movimientos Egresos</H2>
        </div>
        <ContenedorTablaMovimientos client:load />
      </div>
    </DivBox1>
  </div>
</MainDashboard>


