---
import { LogOut, LucideOutdent, Outdent } from "lucide-react";
import Loader from "../../utils/loader/Loader.astro";
import NavDash from "../organismos/NavDash.astro";
import Sidebar from "../organismos/Sidebar.astro";
import NavDashboard from "../organismos/NavDashboard.astro";
import DownloadLoader from "../../utils/loader/DownloadLoader.astro";

interface Props {
  title: string;
  dataCliente: string;
  userData: { nombre: string; apellido: string; userName: string };
}

const { title, dataCliente, userData } = Astro.props;

const url = Astro.url;
---

<!doctype html>
<html lang="es" theme="white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-primary-bg-componentes md:min-h-[100vh] text-primary-texto relative overflow-x-hidden flex"
  >
    <!-- <LoaderGral/> -->

    <Sidebar />
    <!-- <NavDash dataCliente={dataCliente} userData={userData} /> -->
    <Loader />
    <DownloadLoader/>
    <div
      class="h-full overscroll-auto flex flex-col w-full  items-start justify-start bg-gradient-to-br from-primary-100/15 via-transparent to-primary-400/15 backdrop-blur-sm"
    >
    
    

    <NavDashboard/>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  /* Registra tu font family personalizada y le indicamos al navegador dónde encontrarla. */

  @font-face {
    font-family: "IndieFlower";
    src: url("/font/IndieFlower-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }

 
  html {
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
