---
import Button1 from '../../../../components/atomos/Button1.astro'
import FormCont from '../../../../components/atomos/FormCont.astro'
import LabelForm from '../../../../components/atomos/LabelForm.astro'
import ContenedorInputForm from '../../../../components/moleculas/ContenedorInputForm.astro'

const {user}=Astro.props
---
<FormCont  title="Agregar Producto" id="formularioCargaProducto">
    <div
    id="idCargaUsuario"
    data-initUser={user.id}
      class="w-full flex md:flex-col flex-row gap-2 items-start justify-between"
    >
      <ContenedorInputForm
        name="codigoBarra"
        type="text"
        label="codigo de barra"
      />
      <div
        class="w-full flex items flex-col items-start gap- duration-300 group -md"
      >
        <LabelForm name={"descripcion"}>{"descripcion"}</LabelForm>
        <textarea
          class="flex-1 w-full text-sm p-2 text-primary-texto outline-none ring-0 border-gray-300 ring-primary-200/60 focus:ring-1 focus:border-primary-200/60 border-b rounded-lg"
          rows="3"
          placeholder="Color, tamaño, categoria, trata o que describe al producto..."
          name="descripcion"
          id="descripcion"></textarea>
      </div>
    </div>
    <div class="w-full flex gap-2 items-start justify-between">
      <ContenedorInputForm
        name="pCompra"
        label="Precio Compra"
        type="text"
      />
      <ContenedorInputForm
        name="pVenta"
        label="Precio Compra"
        type="text"
      />
    </div>
    <div class="w-full flex gap-2 items-start justify-between">
      <ContenedorInputForm name="stock" label="Stock" type="number" />
      <ContenedorInputForm
        name="cantidadAlerta"
        label="Cantidad de Alerta"
        type="number"
      />
    </div>
    <div class="w-full flex items-center  justify-end my-3">
      <Button1 id="btnCargarProducto">Guardar</Button1>
    </div>
    <div class="text-xs font-semibold h-6 w-full text-center tracking-wide uppercase animate-aparecer text-primary-400"id="erroresMsg"></div>
  </FormCont>

  <script >
const formulario = document.getElementById('formularioCargaProducto') as HTMLFormElement
const btnGuardar = document.getElementById('btnCargarProducto')
const erroresMsg = document.getElementById('erroresMsg')
const userId=document.getElementById('idCargaUsuario').dataset
btnGuardar?.addEventListener('click', async (e) => {
  e.preventDefault()
  
  const formData = new FormData(formulario)
  const data = Object.fromEntries(formData)

  try {
    if(data.codigoBarra === '' || data.descripcion === '' || data.pCompra === '' || data.pVenta === '' || data.stock === '' || data.cantidadAlerta === '') {
      erroresMsg.textContent = 'Todos los campos son obligatorios'
      return
    }
    data.userId=userId.inituser
    const response = await fetch('/api/productos/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })

    const dataResponse = await response.json()
    console.log(dataResponse)

    if(dataResponse.status === 200) {
      formulario.reset()
      window.location.reload()
    }else if(dataResponse.status !== 200) {
      erroresMsg.textContent = dataResponse.msg
    }

  } catch (error) {
    console.log(error)}
    erroresMsg.textContent = error.message
  }
)
  </script>