---
import Button from "../../../../components/atomos/Button.astro";
import VentasWrapper from "./VentasWrapper";
import MainDashboard from "../../../../components/atomos/MainDashboard.astro";

const { user } = Astro.locals;
console.log("variables locales ->", user);
---

<MainDashboard h1="Ventas">
  <div
    slot={"menu"}
    class="flex items-center justify-end pb-2 gap-2 pr-6 w-full"
  >
    <div class="flex gap-3">
      <Button id="presupuestosTodos"> Todos los presupuestos </Button>
      <Button id="ventasTodas"> Todas las ventas </Button>
    </div>
  </div>

  <VentasWrapper client:load user={user} />
</MainDashboard>

<script>
  const inputBusqueda = document.getElementById("busquedaProducto");
  const btnPagar = document.getElementById("btnPagar");
  const btnBusquedaCliente = document.getElementById("btnBusquedaCliente");

  window.addEventListener("keydown", (e) => {
    if (e.key === "F2" && inputBusqueda) {
      inputBusqueda.focus();
    }
    if (e.key === "F3" && btnBusquedaCliente) {
      e.preventDefault();
      btnBusquedaCliente.click();
    }
    if (e.key === "F4" && btnPagar) {
      e.preventDefault();
      btnPagar.click();
    }
  });

  document
    .getElementById("ventasTodas")
    ?.addEventListener(
      "click",
      () => (window.location.href = "/dashboard/ventas/todas"),
    );
  document
    .getElementById("presupuestosTodos")
    ?.addEventListener(
      "click",
      () => (window.location.href = "/dashboard/ventas/presupuestos"),
    );
</script>
