---
import DivBox1 from "../../../components/atomos/DivBox1.astro";
import MainDashboard from "../../../components/atomos/MainDashboard.astro";
import LayoutDash from "../../../components/layouts/LayoutDash.astro";
import FormularioCliente from "./[proveedorId]/components/FormularioCliente";
---

<LayoutDash title="Nuevo Cliente">
  <MainDashboard h1="Nuevo Cliente">
    <DivBox1 styleDiv="w-full">
      <h2 class="text-primary-textoTitle text-xl">Complete los datos</h2>
      <div class="bg-primary-bg-componentes p-2 rounded-lg shadow-md w-full flex flex-col items-center justify-center py-5">

        
        <FormularioCliente client:load />
      </div>
    </DivBox1>
  </MainDashboard>
</LayoutDash>
