import LayoutDash from "../../../components/layouts/LayoutDash.astro";
import MainDashboard from "../../../components/atomos/MainDashboard.astro";
import Card from "../../../components/organismos/Card.astro";
import Texto from "../../../components/atomos/Texto";
import FormularioProveedor from "./[proveedorId]/components/FormularioProveedor";

const { user } = Astro.locals;
---

<LayoutDash title="Nuevo Proveedor">
  <MainDashboard h1="Nuevo Proveedor">
    <Card styleDiv="w-full">
      <Texto as="h2" variant="h2">Complete los datos</Texto>
      <div class="bg-primary-bg-componentes p-2 rounded-lg shadow-md w-full flex flex-col items-center justify-center py-5">
        <FormularioProveedor 
          client:load 
          modo="crear" 
          userId={user?.id || ""} 
          empresaId={user?.empresaId || ""} 
        />
      </div>
    </Card>
  </MainDashboard>
</LayoutDash>
