---
import Card from '../../../../components/organismos/Card.astro';
import SalaEspera from './SalaEspera';

const { user, session } = Astro.locals;
---

<Card styleDiv="w-[35%]">
  <div class="text-center w-full capitalize">
    <SalaEspera user={user} client:load />
  </div>
</Card>
