---
import DivBox1 from '../../../../components/atomos/DivBox1.astro';
import SalaEspera from './SalaEspera';

const { user, session } = Astro.locals;
---

<DivBox1 styleDiv="w-[35%]">
  <div class="text-center w-full capitalize">
    <SalaEspera user={user} client:load />
  </div>
</DivBox1>
