---
import { Documentos, DocumentosAdjuntosProps } from "../../types/index";
import Button from "../atomos/Button.astro";
import ContenedorTitleBotonera from "../atomos/ContenedorTitleBotonera.astro";
import Card from "./Card.astro";
import Texto from "../atomos/Texto";
import FormularioArchivosAdjuntos from "./FormularioArchivosAdjuntos";
import ModalArchivosAdjuntos from "../moleculas/ModalArchivosAdjuntos.astro";
import ContenedorTablaArchivosAdjuntos from "./ContenedorTablaArchivosAdjuntos.astro";
import FormCont from "../atomos/FormCont.astro";

const {pacienteId}=Astro.params
const { documentos } = Astro.props as DocumentosAdjuntosProps;

---

<Card>
  <ContenedorTitleBotonera>
    <Texto as="h2" variant="h2">Archivos Adjuntos</Texto>
    <div class="flex items-center gap-2">
       <Button variant="outline">ver más</Button>
       <ModalArchivosAdjuntos>
        <FormCont title="agregar documento" >
          
          <FormularioArchivosAdjuntos pacienteId={pacienteId} client:load/>
        </FormCont>
      </ModalArchivosAdjuntos>
     
    </div>
  </ContenedorTitleBotonera>
  <div class="overflow-x-auto w-full">
    <ContenedorTablaArchivosAdjuntos documentos={documentos} />
  </div>
</Card>
