---
import { Documentos, DocumentosAdjuntosProps } from "../../types/index";
import Button1 from "../atomos/Button1.astro";
import ContenedorTitleBotonera from "../atomos/ContenedorTitleBotonera.astro";
import DivBox1 from "../atomos/DivBox1.astro";
import FormularioArchivosAdjuntos from "./FormularioArchivosAdjuntos";
import ModalArchivosAdjuntos from "../moleculas/ModalArchivosAdjuntos.astro";
import ContenedorTablaArchivosAdjuntos from "./ContenedorTablaArchivosAdjuntos.astro";
import FormCont from "../atomos/FormCont.astro";

const {pacienteId}=Astro.params
const { documentos } = Astro.props as DocumentosAdjuntosProps;

---

<DivBox1>
  <ContenedorTitleBotonera>
    <h2 class="text-lg font-semibold">Arhivos Adjuntos</h2>
    <div class="flex items-center gap-2">
       <Button1>ver más</Button1>
       <ModalArchivosAdjuntos>
        <FormCont title="agregar documento" >
          
          <FormularioArchivosAdjuntos pacienteId={pacienteId} client:load/>
        </FormCont>
      </ModalArchivosAdjuntos>
     
    </div>
  </ContenedorTitleBotonera>
  <div class="overflow-x-auto w-full">
    <ContenedorTablaArchivosAdjuntos documentos={documentos} />
  </div>
</DivBox1>
