---
import { ArrowLeft, ArrowLeftSquare, LogOut } from "lucide-react";
---

<nav
  class="w-full flex items-center py-2 justify-between px-3 shadow-md bg-white"
>
<button onclick="window.history.back()" class="flex items-center gap-2">
  <ArrowLeftSquare />
</button>
  <div class="">
    <h3>Mi Negocio</h3>
  </div>
  <div>
    <LogOut />
    </div
  </div>
</nav>
