---
import { ArrowLeft, ArrowLeftSquare, LogOut } from "lucide-react";
---

<div
  class="w-full flex items-center py-2 justify-between px-3 shadow-md bg-white"
>
  <button onclick="window.history.back()" class="flex items-center gap-2">
    <ArrowLeftSquare />
  </button>
  <div class="">
    <h3>Mi Negocio</h3>
  </div>
  <form method="post" action="/api/auth/signout">
    <button class="hover:text-primary-400 duration-150  relative group">
      <LogOut />
      <span class="text-[10px] bg-gray-600 text-white rounded w- -translate-y-10 group-hover:translate-y-0 z-50 px-1 py-0.5 absolute font-semibold top-[115%] left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100  group-hover:animate-aparecer duration-200">
        Cerrar Sesion
      </span>
    </button>
  </form>
</div>

<script>
  document.getElementById("logout")?.addEventListener("click", async (e) => {
    e.preventDefault();
    try {
      fetch("/api/auth/signout", {
        method: "POST",
      });
    } catch (error) {
      console.log(error);
    }
  });
</script>
