---
import { ShoppingCart } from "lucide-react";
import MainDashboard from "../../../components/atomos/MainDashboard.astro";
import Button1 from "../../../components/atomos/Button1.astro";
import DivBox1 from "../../../components/atomos/DivBox1.astro";
import FiltroProductos from "../../../components/moleculas/FiltroProductos";
import H2 from "../../../components/atomos/H2.astro";

---
<MainDashboard h1="Compras">
    <div
      slot={"menu"}
      class="flex items-center justify-end pb-2 gap-2 pr-6 w-full"
    >
      <div class="flex gap-3">
        <Button1 id="comprasTodas">
          Todas las compras
        </Button1>
      </div>
    </div>
    <div class="flex items-start justify-between gap-2 w-full">
      <div class="flex flex-col items-start justify-between gap-3 w-3/4">
        <DivBox1 styleDiv="w-full">
          <H2>Producto</H2>
          <FiltroProductos client:load mostrarProductos={true} />
        </DivBox1>
        <DivBox1 styleDiv="w-full">
          <H2>Resultado</H2>
        </DivBox1>
      </div>
      <div
        class="flex flex-col items-start sticky top-4 justify-between gap-2 w-1/4"
      >
        <DivBox1 styleDiv="w-full">
          <div class="flex items-center w-full justify-start">
            <ShoppingCart className="h-5 w-5 text-primary-textoTitle mr-4" />
            <H2>Detalle de Compra</H2>
          </div>
        </DivBox1>
      </div>
    </div>
  </MainDashboard>


  <script>
    const inputBusqueda = document.getElementById('busquedaProducto')
    const btnPagar = document.getElementById('btnPagar')
    const btnBusquedaProveedor = document.getElementById('btnBusquedaProveedor')
    window.addEventListener('keydown', (e) => {
      if (e.key === 'F2') {
        inputBusqueda.focus()
      }
      if (e.key === 'F3') {
        e.preventDefault()
        btnBusquedaProveedor.click()
      }
      if (e.key === 'F4') {
        e.preventDefault()
        btnPagar.click()
      }
    })
    
    document.getElementById('comprasTodas')?.addEventListener('click', () => window.location.href = '/dashboard/compras/todas')
    </script>