---
const { id, click, isActive } = Astro.props;
---

<button
  onclick={click}
  id={id}
  class={`bg-white  text-xs hover:shadow-sm   capitalize rounded-lg px-2 py-1  border-2 border-primary-150 hover:border-primary-100/70 duration-200 hover:bg-primary-100/10`}
>
  <slot />
</button>