---
import { ArrowBigLeft, ArrowBigLeftDash, ArrowBigLeftDashIcon, ArrowBigRight, LucideArrowBigLeft, LucideArrowBigLeftDash } from "lucide-react";


---

<div onclick="history.back()" class="p-1 cursor-pointer flex items-center border rounded-full hover:shadow-md hover:scale-105 duration-150 active:scale-90 group bg-primary-bg-componentes border-gray-200/70 ">
 <LucideArrowBigLeftDash>
  <!-- <p class="text-xs pr-2">Volver</p> -->
</div>
