---
import { AlertCircle, Heart } from "lucide-react";
import type { Antecedente } from "../../types";
import formatDate from '../../utils/formatDate'
const { data } = Astro.props as Antecedente;


---

<div
  class="flex items-start gap-4 p-2 border border-gray-200/50 rounded-md bg-primary-bg-componentes"
>
  <div
    class={`w-8 h-8 rounded-full ${data.estado !== "controlado" ? "bg-red-100" : "bg-primary-150"} flex items-center justify-center`}
  >
    {
      data.estado !== "controlado" ? (
        <AlertCircle size={16} className="text-red-800" />
      ) : (
        <Heart size={16} className="text-primary-texto" />
      )
    }
  </div>

  <div class="flex-1">
    <h3 class="font-medium text-sm uppercase">
      {data.antecedente}
    </h3>
    <p class="text-xs text-muted-foreground">
      Diagnosticado: {formatDate(data.fechaDiagnostico)}
    </p>
  </div>
  <span class="px-2 py-1 text-xs font-medium rounded-full bg-accent">
    {data.tipo === "familiar" ? "familiar" : data.estado}
  </span>
</div>
