---
import LayoutDash from "../../../../components/layouts/LayoutDash.astro";
import Card from "../../../../components/organismos/Card.astro";
import Texto from "../../../../components/atomos/Texto";
import { proveedores } from "../../../../db/schema/proveedores";
import { eq } from "drizzle-orm";
import db from "../../../../db";
import MainDashboard from "../../../../components/atomos/MainDashboard.astro";
import FormularioProveedor from "./components/FormularioProveedor";

const { proveedorId } = Astro.params;

// Obtener datos del proveedor
const proveedor = (
  await db.select().from(proveedores).where(eq(proveedores.id, proveedorId || ""))
).at(0);

if (!proveedor) {
  return Astro.redirect("/dashboard/proveedores");
}
---

<LayoutDash title={`Editar Proveedor - ${proveedor.nombre}`}>
  <MainDashboard h1="Edicion de datos del proveedor">
    <Card styleDiv="w-full">
      <Texto as="h2" variant="h2">Datos del proveedor</Texto>
      <div
        class="bg-primary-bg-componentes p-2 rounded-lg shadow-md w-full flex flex-col items-center justify-center py-5"
      >
        <FormularioProveedor modo="editar" client:load proveedor={proveedor} />
      </div>
    </Card>
  </MainDashboard>
</LayoutDash>
