---
import DivBox1 from "../../../components/atomos/DivBox1.astro";
import MainDashboard from "../../../components/atomos/MainDashboard.astro";
import ProductosMasVendidos from "../../../components/dashboard/ProductosMasVendidos";
import RendimientoCategoria from "../../../components/dashboard/RendimientoCategoria";
import ResumenVentas from "../../../components/dashboard/ResumenVentas";
import UltimasTransacciones from "../../../components/dashboard/UltimasTransacciones";
import ContenedorStats from "./componente/ContenedorStats";



const {user,session}=Astro.locals
console.log('archivbos locals',user)

const userId=user?.id
if(!user || !userId){
    return Astro.redirect("/login")
}

---

<MainDashboard h1="Dashboard Principal">
 
<ContenedorStats client:load/>
  {/* Gráficos principales */}
  <div class="flex items-stretch justify-normal gap-2 w-full">
    <DivBox1 styleDiv="w-4/6 items-stretch">
      <ResumenVentas userId={userId} client:visible />
    </DivBox1>

    <DivBox1 styleDiv="w-2/6 items-stretch">
      <ProductosMasVendidos userId={userId} client:visible />
    </DivBox1>
  </div>

  {/* Segunda fila de gráficos */}
  <div class="flex items-start justify-normal gap-2 w-full">
  
    <DivBox1 styleDiv="w-2/5">
      <RendimientoCategoria userId={userId} client:load />
    </DivBox1>
    <DivBox1 styleDiv="w-3/5">
      <UltimasTransacciones client:visible/>
    </DivBox1>
  </div>

  {/* Footer */}

</MainDashboard>

<script>
import { fetchStatsData } from "../../../context/store";
const {usisisi:userId}:{usisisi: string}=document.getElementById('mainDashboard')?.dataset


fetchStatsData(userId)

</script>