---
import { eq } from 'drizzle-orm';
import db from '../../../../db';
import { categorias } from '../../../../db/schema';
import LayoutDash from '../../../../components/layouts/LayoutDash.astro';
import MainDashboard from '../../../../components/atomos/MainDashboard.astro';
import Card from '../../../../components/organismos/Card.astro';
import Texto from '../../../../components/atomos/Texto';
import Button from '../../../../components/atomos/Button.astro';
import { BoxIcon, Truck, UserSquare } from 'lucide-react';
import ImportadorGenerico from '../../../../components/organismos/ImportadorGenerico';
import { columnasResultados, columnasResultadosClientes, columnasResultadosProveedores } from '../../../../utils/columnasTables';

const { user } = Astro.locals;
const empresaId = user?.empresaId;

// Obtenemos las categorías de la base de datos para la empresa actual
const categoriasExistentes = await db
  .select()
  .from(categorias)
  .where(eq(categorias.empresaId, empresaId || ""));
---

<LayoutDash title="Importar Datos">
  <MainDashboard
    h1="Importar Datos"
    subtitle=" Sigue los pasos para realizar una carga masiva de productos a tu inventario."
  >
    <Card styleDiv="w-full p-6 items-center justify-center flex flex-col">
      <div
        class="items-center justify-center w-11/12 mx-auto rounded-lg p-0 text-primary-texto"
      >
        <Texto as="h2" variant="h2" className="mb-2">Paso 1: Prepara tu archivo</Texto>
        <Texto variant="body" className="mb-4">
          Descarga nuestra plantilla CSV. Es importante que uses los nombres de
          las categorías exactamente como aparecen en la siguiente lista para
          asegurar una correcta importación.
        </Texto>

        <div class="flex flex-col items-center justify-between md:flex-row gap-8">
          <!-- Columna de descarga -->
          <div class="flex flex-col gap-2 w-full md:w-1/3">
            <Button variant="outline" className="w-full">
              <a
                class="w-full flex items-center justify-center text-primary-100 font-semibold"
                href="/plantillas/productos.csv"
                download
              >
                <BoxIcon className="mr-2" /> Descargar Plantilla de Productos
              </a>
            </Button>
            <Button variant="outline" className="w-full">
              <a
                href="/plantillas/clientes.csv"
                download
                class="w-full flex items-center justify-center text-primary-100 font-semibold"
              >
                <UserSquare className="mr-2"/> Descargar Plantilla de Clientes
              </a>
            </Button>
            <Button variant="outline" className="w-full">
              <a
                href="/plantillas/proveedores.csv"
                download
                class="w-full flex items-center justify-center text-primary-100 font-semibold"
              >
                <Truck className="mr-2" /> Descargar Plantilla de Proveedores
              </a>
            </Button>
          </div>
          <!-- Columna de categorías -->
          <div
            class="flex-1 w-full md:w-2/3 border border-gray-100 rounded-lg p-4 bg-primary-bg-componentes"
          >
            <Texto as="h3" variant="title" className="mb-2">
              Categorías Disponibles:
            </Texto>
            {
              categoriasExistentes.length > 0 ? (
                <ul class="list-disc list-inside text-sm  grid grid-cols-2 gap-1">
                  {categoriasExistentes.map((cat) => (
                    <li>{cat.nombre}</li>
                  ))}
                </ul>
              ) : (
                <p class="text-sm text-primary-400">
                  No has creado ninguna categoría todavía. Ve a la sección de
                  Stock para añadirlas.
                </p>
              )
            }
          </div>
        </div>

        <hr class="my-8 border-gray-100" />

        <Texto as="h2" variant="h2" className="mb-4">Paso 2: Sube tu archivo</Texto>
        <Texto variant="body" className="mb-4">
          Una vez que hayas llenado la plantilla con tus productos, guárdala en
          formato CSV y súbela aquí.
        </Texto>

        <div id="upload-form-container">
          <ImportadorGenerico 
            client:load
            titulo="Importar Productos"
            endpoint="/api/ajustes/importarProductos"
            inputName="file-productos"
            columnasResultado={columnasResultados}
          />

          <ImportadorGenerico 
            client:load
            titulo="Importar Clientes"
            endpoint="/api/ajustes/importarClientes"
            inputName="file-clientes"
            columnasResultado={columnasResultadosClientes}
          />

          <ImportadorGenerico 
            client:load
            titulo="Importar Proveedores"
            endpoint="/api/ajustes/importarProveedores"
            inputName="file-proveedores"
            columnasResultado={columnasResultadosProveedores}
          />
        </div>
      </div>
      </div>
    </Card>
  </MainDashboard>
</LayoutDash>
